* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: rgb(13, 13, 26);
  font-family: "Poppins", sans-serif;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #a8a7a712 1px, transparent 1px);
  background-size: 24px 24px;
}

#container {
  height: 100vh;
  width: auto;
}

.navbar {
  background: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  font-size: x-large;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

#ideas-section {
  font-size: 12px;
  margin: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(83, 108, 170, 0.199);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(32, 34, 69, 0.42);
}

h3 {
  margin: 20px;
}

.delete-btn {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  background-color: white;
  border-radius: 75px;
}

.delete-btn:hover {
  background: red;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  #container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar {
    background: black;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #ideas-section {
    font-size: 20px; /* Adjust the font size for larger screens */
    margin: 40px; /* Adjust margin for larger screens */
    padding-top: 30px;
    padding-bottom: 45px;
    width: 500px;
  }

  h3 {
    margin: 30px; /* Adjust margin for larger screens */
  }

  .delete-btn {
    width: 30px; /* Adjust button width for larger screens */
    height: 25px; /* Adjust button height for larger screens */
  }
}
